body {
    margin-left:  20%;
    margin-right: 20%;
	padding: 0;
}

div {
	padding: 10px;
}

.ui-widget {
   font-size: 12px;
}

.ui-inputtext {
	width: 200px;
}

.ui-selectonemenu {
	width: 200px;
	padding: 0;
}
