.ui-widget {
   font-size: 12px;
}

body {
	background: #ffffff;
    margin-left:  20%;
    margin-right: 20%;
	padding: 0;
}

h1 {
	color: #0000ff;
}

p {
	color: #000000;
}

.greeting {
    font-size: 120%;
	color: #ff0000;
}

div.content {
    padding: 10px;
}

div.footer {
    font-size: 60%;
    text-align: right;
}
