body {
	background-color: #ffffff;
	color:            #000000;
}

img {
	border-style: none;
}

table.boxed {
	width:  100%;
	margin: 10px 0 10px 0;
}		

th {
	background-color: #c0c0ff;
	color:            #000000;
}

tr.odd {
	background-color: #ffffff;
	color:            #000000;
}

tr.even {
	background-color: #ffffa0;
	color:      	  #000000;
}

td.taskId {
	width:      75px;
	text-align: center;
}

td.taskSummary {
}

td.taskStatus {
	width:      100px;
	text-align: center;
}

.infoMessage {
	color: 		 green;
	font-weight: bold;
	font-size:   120%;
}

.errorMessage {
	color:       #ff0000;
	font-weight: bold;
	font-size:   120%;
}

#header {
	width: 100%;
	float: left;
}

#logo {
	float: left;
}

#genericLinks {
	float: right;
}
