body {
	background-color: #ffffff
}

img {
	border-style: none;
}

.infoMessage {
	color: 		 green;
	font-weight: bold;
	font-size:   120%;
}

.errorMessage {
	color:       #ff0000;
	font-weight: bold;
	font-size:   120%;
}

#header {
	width: 100%;
	float: left;
}

#logo {
	float: left;
}

#genericLinks {
	float: right;
}
